In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("/Users/anandagarwal/retail_task/retail_task/data/Retail.csv")
df.head()

,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,occupation,...,distance_to_store,holiday_season,season,weekend,customer_support_calls,email_subscriptions,app_usage,website_visits,social_media_engagement,days_since_last_purchase
0,41,Female,Medium,No,3,No,Married,0,Bachelor's,Employed,...,72.83,No,Summer,No,18,No,Medium,2,Medium,6
1,40,Female,High,Yes,4,Yes,Single,4,PhD,Employed,...,44.60,Yes,Fall,No,16,Yes,Low,17,Medium,137
2,48,Male,High,No,4,Yes,Married,3,Bachelor's,Unemployed,...,46.15,Yes,Winter,Yes,11,Yes,High,68,High,275
3,19,Male,Low,No,9,Yes,Divorced,3,Bachelor's,Retired,...,0.62,No,Fall,No,15,Yes,Medium,61,Low,182
4,53,Female,Low,Yes,8,No,Divorced,2,Master's,Employed,...,38.09,Yes,Fall,Yes,0,Yes,High,19,High,330

In [5]:
df.dtypes

age                          int64
gender                      object
income_bracket              object
loyalty_program             object
membership_years             int64
                             ...
email_subscriptions         object
app_usage                   object
website_visits               int64
social_media_engagement     object
days_since_last_purchase     int64
Length: 77, dtype: object

In [6]:
for col in df.columns:
    print(col)

age
gender
income_bracket
loyalty_program
membership_years
churned
marital_status
number_of_children
education_level
occupation
transaction_id
transaction_date
product_id
product_category
quantity
unit_price
discount_applied
payment_method
store_location
transaction_hour
day_of_week
week_of_year
month_of_year
avg_purchase_value
purchase_frequency
last_purchase_date
avg_discount_used
preferred_store
online_purchases
in_store_purchases
avg_items_per_transaction
avg_transaction_value
total_returned_items
total_returned_value
total_sales
total_transactions
total_items_purchased
total_discounts_received
avg_spent_per_category
max_single_purchase_value
min_single_purchase_value
product_name
product_brand
product_rating
product_review_count
product_stock
product_return_rate
product_size
product_weight
product_color
product_material
product_manufacture_date
product_expiry_date
product_shelf_life
promotion_id
promotion_type
promotion_start_date
promotion_end_date
promotion_effectiveness
promotion_channel
promotion_target_audience
customer_zip_code
customer_city
customer_state
store_zip_code
store_city
store_state
distance_to_store
holiday_season
season
weekend
customer_support_calls
email_subscriptions
app_usage
website_visits
social_media_engagement
days_since_last_purchase